.toolContainer
    margin-top: 105px
    display: flex
    max-width: 311px
    justify-content: space-between;
    margin-inline: auto
    .selectionContainer
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        height: 418px
    .resultsContainer
        display: flex
        gap: 30px
        flex-wrap: wrap
        justify-content: space-between
        .choiceContainer
            display: flex
            flex-direction: column
            align-items: center
            h4
                font-size: 15px
                letter-spacing: 1.88px
                line-height: 32px
                margin-top: 20px
                text-transform: uppercase
        .buttonWrapper
            max-width: 220px
            width: 100%
            margin-top: 62px
            margin-inline: auto
            h3
                font-size: 56px
                text-transform: uppercase
                margin-bottom: 20px
                text-align: center
            .playAgainBtn
                max-width: 220px
                width: 100%
                font-size: 16px
                font-weight: 600
                color: #3B4262
                letter-spacing: 2.5px
                margin: auto
                background: linear-gradient( #F3F3F3 0%, #FFFFFF 100%);
                border: none
                height: 48px
                border-radius: 8px
                cursor: pointer
                text-transform: uppercase
@media (min-width: 1200px) 
    .toolContainer
        max-width: 476px
        .selectionContainer
            gap: 80px
            height: 476px

