.toolContainer
    margin-top: 105px
    display: flex
    max-width: 311px
    justify-content: space-between;
    margin-inline: auto
    .selectionContainer
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    .resultsContainer
        display: flex
        gap: 30px
        flex-wrap: wrap
        justify-content: space-between
        .choiceContainer
            display: flex
            flex-direction: column
            align-items: center
        .playAgainBtn
            max-width: 220px
            width: 100%
            font-size: 16px
            font-weight: 600
            color: #3B4262
            letter-spacing: 2.5px
            margin: auto
            margin-top: 100px
            background: linear-gradient( #F3F3F3 0%, #FFFFFF 100%);
            border: none
            height: 48px
            border-radius: 8px
            cursor: pointer