.footer
    display: flex
    button
        margin-inline: auto
        margin-top: 139px
        max-width: 128px
        font-size: 16px
        font-weight: 600
        width: 100%
        height: 40px
        border: 1px solid #FFFFFF
        border-radius: 8px
        background-color: transparent
        color: #FFFFFF
        letter-spacing: 2.5px
        text-transform: uppercase
        cursor: pointer
        transition: .3s ease-in-out
        &:hover
            background-color: #FFFFFF
            color: #3B4262
    .rules
        background-color: #FFFFFF
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        color: #000000
        margin: auto
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        h4
            font-size: 32px
            color: #3B4262
            line-height: 32px
            margin-bottom: 113px
        .rulesImg
            width: 305px
            height: 271px
        .cross
            margin-top: 154px
            width: 19px
            height: 19px
            cursor: pointer
        .crossLg
            display: none
@media (min-width: 1200px)
    .footer
        button
            margin-inline: 0px
            margin-left: auto
        .overlay
            top: 0
            left: 0
            position: fixed
            width: 100%
            height: 100%
            z-index: 2
            background-color: rgba(0, 0, 0, 50%)
            .rules
                max-width: 400px
                width: 100%
                height: 415px
                top: 50%
                left: 50%
                transform: translate(-50%,-50%)
                border-radius: 8px
                justify-content: space-between
                padding: 32px
                h4
                    margin-bottom: 0px
                .cross
                    display: none
                    margin-top: 0px
                .rulesHeader
                    display: flex
                    width: 100%
                    justify-content: space-between
                    align-items: center
                    .crossLg
                        display: block
                        width: 19px
                        height: 19px
                        cursor: pointer