* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  color: #ffffff;
  background: radial-gradient(ellipse at 50% 50%, #1f3757 0%, #131537 100%);
  font-family: "Barlow Semi Condensed", sans-serif;
  padding: 32px;
  font-weight: 400;
}
